<div id="message_<% @chat_room.id %>">
    <% @chat_room.messages.each do |msg| %>
        <%= image_tag(current_user.profile_pic.variant(resize_to_fill:[30,30])) %>
        <%= ": #{msg}" %>
    <% end %>
</div>
