<div id="message">
    <% @chat_room.messages.each do |msg| %>
        <% if msg.user_id==current_user.id %>
            <div class="source_user_message">
                <%= current_user.name %> <%= ": #{msg.content}" %>
            </div>
        <% else %>
            <div class="destination_user_message">
                <%= msg.user&.name %> : <%= msg.content%>
            </div>
        <% end %>
    <% end %>
</div>
