<div id="<%= dom_id chat_room %>">
  <p>
    <strong>Follower:</strong> 
    <%= chat_room.follower_id %> 
  </p> 
 
  <p>
    <strong>Followed:</strong> 
    <%= chat_room.followed_id %>
  </p>
</div>