<div class="chat_page_container">
  <div class="chatroom_button_links">
    <%= link_to "Go Back", user_path(@user&.id) %>
    <%= button_to "Delete", @chat_room, method: :delete %>
  </div>

  <div class="chat_box">
    <div class="sent_messages" id="sent_messages">
      <%= render @chat_room.messages %>
    </div>

    <div class="send_message">
      <%= turbo_frame_tag "message",src:new_chat_room_message_path(@chat_room) %>
    </div>
  </div>
</div>