<%= turbo_stream.append "comments_#{@comment.post_id}" do %>
  <div class="comment_text">
    <%# profile photo instead of user %>
    <%= @comment.user.name %>:
    <%= @comment.content %>
  </div>
<% end %>