<%= link_to "Go Back",posts_path,class:"go_back" %>
<div class="individual_user_container">
    <div class="individual_picture_and_links">
        <div class="individual_picture"> <%= image_tag @user.profile_pic.variant(resize_to_fill:[400,300]),class:"individual_profile_pic" %> </div>
        <div class="follow_and_message">
            <%= turbo_frame_tag "toggle_follow" do%>
                <%= render partial: "friendships/follow_unfollow",locals:{user:@user} %>
            <% end %>

            <div class="message_user">
                Message
            </div>
        </div>    
    </div>

    <div class="individual_user_posts">
    </div>
</div>