<div class="user_post">
    <div class="curr_user"> <%= post.user.name %> </div>
    <div class="post_title">
        <div class="post_content"><%= post.title %></div>
        
        <div class="post_links">
            <% if current_user.likes.exists?(post.id) %>
                <%# destroy the like %>
                <div class="unlike_post"><%= button_to "Unlike" %></div>
            <% else %>
                <%# create the like %>
                <div class="like_post"><%= render "like_post",post:post.id %></div>
            <% end %>

            <div class="comment_post">Comment</div>
            <div class="share_post">Share</div>
        </div>
    </div>
</div>
