.chat_page_container {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    align-items: center;
}
.chatroom_button_links {
    display: flex;    
    justify-content: space-between;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.chat_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    min-height: 400px;
    width: 50vw;
    border-radius: 20px;

    background-color: #f6fafd;
    box-shadow: 1px 1px 5px #dbdbd2;
}
.message_input {
    border: 2px solid black;
    border-radius: 10px;
    height: 25px;
    width: 50%;

    margin-right: auto;
    margin-left: auto;
}
.sent_messages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    gap: 400px;
    min-height: 500px;
    word-break: break-all;
    background-color: #fbfcfc;
    box-shadow: 1px 1px 5px #dbdbd2;

}
.source_user_message {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2fff5;
    color: #26b749;

    box-shadow: 1px 1px 1px 2px #0cad33 ;
}
.destination_user_message {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    background-color:   #f6fafd ;
    color: blue;

    box-shadow: 1px 1px 1px 2px  #4561EE  ;
}
.message_form {
    text-align: center;
}