.pages_main_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    padding: 10px;
    border-radius: 2px;
    height: 100vh;
    width: 100%;
    
}
.picture_and_searchbar {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
    gap: 20%;
    flex-shrink: 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 1px #BAE6FD;
    height: 13vh;
    max-width: 95vw;

    background-color: #F9FAFB;
}
.profile_picture {
    display: flex;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
    height: 50%;
    width: 4.6%;
    border-radius: 100%;
    margin-left: 4%;
    cursor: pointer;
}
.search_bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 50%;
    flex-shrink: 0;
    margin-right: 45%;
    border-radius: 20px;
}
.search_user_input {
    padding: 2px;
    width: 80%;
    height: auto; 
    min-height: 40px;
    border-radius: 15px;
    border: 4px solid #0891B2;
}
.submit_button {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 2px solid #1D4ED8;
    background-color: #0284C7;
    color: white;
    cursor: pointer;
}
/* second row content */


.all_content_second_row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.first_row_second_grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    width: 10vw;
    height: 80vh;
    gap: 10%;
    background-color: white;
    border: 3px solid #E0F2FE;
    border-radius: 5px;
    box-shadow: -10px -10px 10px #CFFAFE;
}
.friend_list, .saved_posts,.logout_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    
    width: 5vw;
    height: 3.4vh;
    border-radius:5px;
    cursor: pointer;
}
.friend_button,.logout_button,.saved_posts {
    font-style: italic;
    text-decoration: none;
    font-size: max(10%,1.4vh);
    color: black;
}
.friend_button:hover, .friend_list:hover,.saved_posts:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0C0A09;
    width: 7vw;
    height: 3.4vh;
    transition-duration: 0.5s;
}
.logout_button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D4ED8;
    width: 100px;
    height: 30px;
    color: #FEF9C3;
    transition-duration: 0.5s;

}

/* the second column of the second row (main grid)*/

.second_row_second_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 1%;
    max-width: 75%;
    width: 70%;

    border-radius: 5px;
    background-color: #F8FAFC;

    box-shadow: 1px 1px 5px grey;
}

/* 2nd row 2nd column - the user feed */

.add_new_post {

    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;

    height: 15vh;
    max-height: 20vh;
    width: 90%;
    max-width: 95%;
    margin-left: 2%;
    border-bottom: 1px solid grey;

}
.add_post_input {
    margin-left: 20%;
    border-radius: 10px;
    border:2px solid #FCA5A5;
    width: 60%;
}
.add_post_button {
    width: 6%;
    border: 1px solid black;
    border-radius: 6px;
}
.add_post_button:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease-in;
    width: 10%;
    
}

/* the feed itself */