.go_back {
    color: #4F46E5;
    font-weight: 900;
    font-size: 20px;
    margin-left: 0.5%;
}
.individual_user_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    max-width: 550px;
    
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    box-shadow: -1px 5px 5px 2px #E879F9;
}
.individual_picture_and_links {
    display: flex;
    flex-direction: column;
}
.individual_picture{
    display: flex;
    justify-content: center;
}
.individual_profile_pic {
    border-radius: 300px;
    height: 300px;
    box-shadow: 0 0 5px 5px #A78BFA;
}
.follow_and_message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80%;
    margin-right: 2%;
}
.unfollow_user_button {
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    padding: 3px;
}
.unfollow_user_button:hover {
    color: white;
    border: 2px solid red;
    background-color: #B91C1C;
    border-radius: 10px;
    padding: 3px;
}
.follow_user_button, .message_btn {
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 3px;
}
.follow_user_button:hover,.message_btn:hover {
    color: white;
    border: 2px solid blue;
    background-color: #1E40AF;
    border-radius: 10px;
    padding: 3px;
}
.individual_followers {
    display: flex;
    justify-content: center;
    gap:25%;
    margin-right: 5%;
    font-size: 10px;
    font-weight: 900;
    padding: 20px;
    margin-top: 200px;
    margin-left: 5%;
}
.individual_user_posts {
    height: 10px;
    margin-top: 40%;
}