::placeholder {
    text-align: center; 
 }
h2 {
    color: #FBCEB1;
    font-style: italic;
}
.rootBody {
    background-image: url('/8ji9vootufr71.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.loginContainer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    height: 70%;
    align-items: center; /* Centers the form vertically */
}

.loginTitle {
    display: flex;
    padding: 40px;
    justify-content:center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.loginForm {
    display: grid;
    max-width: 500px;
    background-color: #DB7093;
    opacity: 0.7; 

    width: 100%; /* Makes sure it doesn't exceed the max width */
    grid-template-columns: 1fr; /* A single column */
    gap: 15px; /* Adds space between rows */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 5px #FBCEB1;
    margin-bottom: auto;

}

.nameField, .emailField, .passwordField {
    text-align: center;
    padding: 5px;
    color: green;
}
.loginAndcheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    font-size: 10px;
}
.shrLinks {
    display: flex;
    font-weight: 900;
    justify-content:center;
    align-items: center;
    height: 40px;
    gap: 60px;
    margin-left: 90px;
}
.signupButton, .forgotPass {
    color: #FBCEB1;
    text-decoration: none;
    font-size: 11px;
}
.loginButton {
    background-color: #3B82F6;
    color: white;
    border-radius: 10px;
    width: 60px;
    border: 1px solid #3B82F6;
    cursor: pointer;
    text-align: center;
}
.username {
    width:65%;
    border: 1px solid #95bf47;
    border-radius: 5px;
}